<div class="jumbotron text-center" >
  <h1 class="display-3">News Scraper</h1>
  <h3 class="display-3">Echo JS</h3>
  <p class="lead"></p>
  {{!-- <hr class="my-4"> --}}
  <p>Scrape the articles from EchoJS</p>
  <form action="/scrape" method="GET">
    <button  class="btn btn-dark btn-lg" type ="submit"id="scraper">Scrape</button>
  </form>
</div>

<nav class="nav nav-tabs justify-content-center nav-fill" id="myTab" role="tablist">
  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">Scraped Articles</a>
  <a class="nav-item nav-link " id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">Saved Articles</a>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <br><br><br>
    <div class="jumbotron">
      <h1>Articles</h1>
    </div>
    <br><br>
    {{#each articles}}
    {{!-- decide later whether or not to use forms to delete or ajax --}}
      {{!-- <form action="/api/articles/delete/{{_id}}" method="POST"> --}}
        <div class="container" id ="titleDiv">
            <a href={{link}} target="_blank">{{title}}</a><div class=text-right><button class="btn btn-dark " data-id={{_id}} data-savevalue = "true"id="save">save</button></div>
        </div>
      {{!-- </form> --}}
          {{!-- <div class=text-right><button class="btn btn-dark " data-id={{_id}} data-savevalue = "true"id="save">save</button></div> --}}
    {{/each}}

  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <br><br><br>
    <div class="jumbotron">
      <h1>Saved Articles</h1>
    </div>
    <br><br>
      <div id="notes"></div>
      <br><br>
        {{#each articles}}
          {{#if saved}}
    {{!-- decide later whether or not to use forms to delete or ajax --}}
      {{!-- <form action="/api/articles/delete/{{_id}}" method="POST"> --}}
              <div  id ="titleDiv" data-id={{_id}}>
                <a href={{link}} target="_blank">{{title}}</a><div class=text-right><button class="btn btn-dark " data-id={{_id}} id="note">Add Note</button> <button class="btn btn-dark " data-id={{_id}} id="delete">Delete</button></div>
              </div>
      {{!-- </form> --}}
          {{/if}}
    {{/each}}
  </div>
</div>


